* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

html {
    font-size: 12px;
}
img{
    display: block;
    width: 100%;
}

/*清除浮动代码*/
.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

.clearfloat {
    zoom: 1
}


/* @media screen and(){
    html{
        font-size: 
    }
} */



ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: 0 5%;
}

.m-1 {
    margin: 1rem;
}

.mlr-1 {
    margin: 0 1rem;
}

.mtb-1 {
    margin: 1rem 0;
}

.of {
    word-break: break-all;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.wavy::after  {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 0.25em;
    left: 0;
    background:
        linear-gradient(135deg, transparent, transparent 45%, #008000, transparent 55%, transparent 100%),
        linear-gradient(45deg, transparent, transparent 45%, #008000, transparent 55%, transparent 100%);
    background-size: 0.5em 0.5em;
    background-repeat: repeat-x, repeat-x;
}

.line::after{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 0.1rem;
    left: 0;
    background: #cccccc
}